body { background: #f82fa2; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 53px; display: flex; }
.block-validator-0 { color: #eadc4f; font-size: 15px; margin-bottom: 5px; }
.block-sms-1 { color: #bb98a3; font-size: 17px; margin-bottom: 5px; }
.block-metrics-2 { color: #5e2ec2; font-size: 19px; margin-bottom: 5px; }
.block-helper-3 { color: #79479c; font-size: 12px; margin-bottom: 5px; }
.block-router-4 { color: #ab520; font-size: 15px; margin-bottom: 5px; }